imports:
    - vendor/sylius/sylius/src/Sylius/Behat/Resources/config/suites.yml

default:
    formatters:
        pretty:
            verbose: true
            paths: false
            snippets: false

    suites:
        ui_homepage:
            contexts:
                - sylius.behat.context.hook.doctrine_orm
                - sylius.behat.context.transform.lexical
                - sylius.behat.context.transform.product
                - sylius.behat.context.transform.shared_storage
                - sylius.behat.context.setup.channel
                - sylius.behat.context.setup.product
                - sylius.behat.context.setup.shop_security
                - app.behat.context.ui.shop.homepage

            filters:
                tags: "@homepage && @ui"

    extensions:
        Lakion\Behat\MinkDebugExtension:
            directory: etc/build
            clean_start: false
            screenshot: true

        Behat\MinkExtension:
            files_path: "%paths.base%/vendor/sylius/sylius/src/Sylius/Behat/Resources/fixtures/"
            base_url: "http://localhost:8080/"
            default_session: symfony
            javascript_session: chrome
            sessions:
                symfony:
                    symfony: ~
                chrome:
                    selenium2:
                        browser: chrome
                        capabilities:
                            browserName: chrome
                            browser: chrome
                            version: ""
                            marionette: null # https://github.com/Behat/MinkExtension/pull/311
                            chrome:
                                switches:
                                    - "start-fullscreen"
                                    - "start-maximized"
                                    - "no-sandbox"
                firefox:
                    selenium2:
                        browser: firefox
            show_auto: false

        FriendsOfBehat\SymfonyExtension: ~

        FriendsOfBehat\ExcludeSpecificationsExtension:
            features:
                - "vendor/sylius/sylius/features/homepage/viewing_latest_products.feature"

        FriendsOfBehat\VariadicExtension: ~

        FriendsOfBehat\SuiteSettingsExtension:
            paths:
                - "vendor/sylius/sylius/features"
                - "features"

    gherkin:
        filters:
            tags: "~@todo && ~@cli" # CLI is excluded as it registers an error handler that mutes fatal errors
