imports:
    - vendor/sylius/sylius/src/Sylius/Behat/Resources/config/suites.yml

default:
    formatters:
        pretty:
            verbose: true
            paths: false
            snippets: false

    suites:
        ui_product_validation:
            contexts:
                - sylius.behat.context.hook.doctrine_orm

                - sylius.behat.context.transform.locale
                - sylius.behat.context.transform.product
                - sylius.behat.context.transform.shared_storage

                - sylius.behat.context.setup.channel
                - sylius.behat.context.setup.locale
                - sylius.behat.context.setup.product
                - sylius.behat.context.setup.admin_security

                - sylius.behat.context.ui.admin.managing_products
                - sylius.behat.context.ui.admin.notification

                - app.behat.context.ui.product.create_page
            filters:
                tags: "@create_product && @ui"

    extensions:
        Lakion\Behat\MinkDebugExtension:
            directory: etc/build
            clean_start: false
            screenshot: true

        Behat\MinkExtension:
            files_path: "%paths.base%/vendor/sylius/sylius/src/Sylius/Behat/Resources/fixtures/"
            base_url: "http://localhost:8080/"
            default_session: symfony
            javascript_session: chrome
            sessions:
                symfony:
                    symfony: ~
                chrome:
                    selenium2:
                        browser: chrome
                        capabilities:
                            browserName: chrome
                            browser: chrome
                            version: ""
                            marionette: null # https://github.com/Behat/MinkExtension/pull/311
                            chrome:
                                switches:
                                    - "start-fullscreen"
                                    - "start-maximized"
                                    - "no-sandbox"
                firefox:
                    selenium2:
                        browser: firefox
            show_auto: false

        FriendsOfBehat\SymfonyExtension: ~

        FriendsOfBehat\ExcludeSpecificationsExtension:
            features:
                - "vendor/sylius/sylius/features/product/managing_products/adding_associations_to_existing_product.feature"
                - "vendor/sylius/sylius/features/product/managing_products/adding_product_with_associations.feature"
                - "vendor/sylius/sylius/features/product/managing_products/adding_product_with_integer_attribute.feature"
                - "vendor/sylius/sylius/features/product/managing_products/adding_product_with_percent_attribute.feature"
                - "vendor/sylius/sylius/features/product/managing_products/adding_product_with_text_attribute.feature"
                - "vendor/sylius/sylius/features/product/managing_products/adding_text_attribute_in_different_locales.feature"
                - "vendor/sylius/sylius/features/product/managing_products/adding_text_attributes_to_existing_product.feature"
                - "vendor/sylius/sylius/features/product/managing_products/changing_associations_of_product.feature"
                - "vendor/sylius/sylius/features/product/managing_products/editing_product.feature"
                - "vendor/sylius/sylius/features/product/managing_products/product_validation.feature"
                - "vendor/sylius/sylius/features/promotion/managing_promotions/adding_promotion_with_filter.feature"

        FriendsOfBehat\VariadicExtension: ~

        FriendsOfBehat\SuiteSettingsExtension:
            paths:
                - "vendor/sylius/sylius/features"
                - "features"

    gherkin:
        filters:
            tags: "~@todo && ~@cli" # CLI is excluded as it registers an error handler that mutes fatal errors
