{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    <h2 class="ui horizontal section divider header">
        Clearance sale
    </h2>
    {{ render(url('app_shop_partial_product_index_by_on_hand')) }}
{% endblock %}
