{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    <h2 class="ui horizontal section divider header">
        Clearance sale
    </h2>
    {{ render(url('app_admin_custom_product_index')) }}
{% endblock %}
